<!DOCTYPE html>
{% load static %}
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>MOF</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
  .rounded{
    box-shadow-lg:               0 1rem 3rem rgba(black, .175);
  }
  .breadcrumbs {
  margin-top: 20px;
  text-align: center;
  background: #5b9c2c;
  padding: 30px 0;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 20px;
  }
}

.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 500;
}

.breadcrumbs p {
  font-size: 14px;
  margin-bottom: 0;
}
</style>
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
   <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <!-- <span>MOF</span> Farm -->
            <img src="{% static 'images/logo.png' %}" height="70" width="70">
          </a>
          <!-- </a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              {% if role == "farmer" %}
              <li class="nav-item">
                <a class="nav-link" href="/farming_technique_listing">Farming Technique</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/query_list">All Queries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/all_blog">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/show_wishlist">Show Wishlists</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href=""><i class="fa fa-user-circle text-warning" aria-hidden="true"></i> Welcome {{user.username}}</a>
              </li>
      <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              {% elif role == "wholeseller" %}
              <li class="nav-item">
                <a class="nav-link" href="/query_list">All Queries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/all_blog">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><i class="fa fa-user-circle text-warning" aria-hidden="true"></i> Welcome {{user.username}}</a>
              </li>
      <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
               {% elif role == "admin" %}
              <li class="nav-item">
                <a class="nav-link" href="/create_blog">Create Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin_show_all_farmer_user">All Farmer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin_show_all_wholeseller_user">All Whole Seller</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin_show_all_scientist_user">All Scientist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Query Question</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><i class="fa fa-user-circle text-warning" aria-hidden="true"></i> Welcome {{user.username}}</a>
              </li>
      <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              {% elif role == "scientist" %}
              <li class="nav-item">
                <a class="nav-link" href="/product">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/farming_technique">Create Farming Technique</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/farming_technique_listing">Show Farming Technique</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/create_blog">Create Blog</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href=""><i class="fa fa-user-circle text-warning" aria-hidden="true"></i> Welcome {{user.username}}</a>
              </li>
      <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/product">Products</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/all_blog">Blogs</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/farming_technique_listing">Farming Technique</a>
              </li>              
              <!-- <li class="nav-item">
                <a class="nav-link" href="/registerwithnormaluser">Register as Farmer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registerwithwholeseller">Register as Whole Seller</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registerwithwholeseller">Register as Scientist</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li> 
      <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </li>
              {% endif %}

              <!-- {% if user.is_authenticated %}
              
      {% else %}
      <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
      <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </li>
      {% endif %}
            </ul>
            <!-- <div class="quote_btn-container">
              
              <a href="/registerwithnormaluser">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
            </div> -->
          </div>
        </nav>
      </div>
    </header>
<br>
<br>
<div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>All Blog</h2>
            </div>
        </div><br>
<div class="container">
  {% for data in data %}
  <a href="/blog_details/{{data.id}}">
   <div class="shadow-lg p-3 mb-5 bg-body rounded">
     <div class="row">
      <div class="col-sm-6">
        {% if data.blog_image %}
        <img src="{{data.blog_image.url}}/" height="600" width="500">
        {% endif %}
      </div>
      <div class="col-sm-6">
      </div>

     </div>
     <p></p>
     <h4 >Blog Date Time : <a href="/blog_details/{{data.id}}">{{data.create_date}} </a></h4>
     <h4 style="color: black;">Blogger Name : <a href="/blog_details/{{data.id}}">{{data.blog_name}} </a></h4>
     <h4>Blogger Title : <a href="/blog_details/{{data.id}}">{{data.blog_title}} </a></h4>
   </div>
 </a>
{% endfor %}
</div>
<br>
<br>
  <!-- info section -->
  <section class="info_section">
    <div class="container">
      <div class="info_contact_container">
        <h3>
          Contact Us
        </h3>
        <div class="info_contact_box">
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              +91 6370504347,6303973431
            </span>
          </a>
          <a href="">
            <i class="fa fa-envelope"></i>
            <span>
              teams.mof@gmail.com
            </span>
          </a>
        </div>
      </div>
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </div>
      <div class="info_link_box">
        <a href="/">
          Home
        </a>
        <a href="/about">
          About
        </a>
        
        <a href="/faq">
          FAQ
        </a>
        <a href="/why">
          Why us
        </a>
        <a href="/contact">
          Contact us
        </a>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <div class="container">
      <div class="col-md-11 col-lg-8 mx-auto">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="">MOF Teams</a>
        </p>
      </div>
    </div>
  </section>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <!-- slick slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

</body>

</html>