<!DOCTYPE html>
{% load static %}
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>MOF</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
/*body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}*/

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example #b {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example #b:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <!-- <span>MOF</span> Farm -->
            <img src="{% static 'images/logo.png' %}" height="70" width="70">
          </a>
          <!-- </a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              {% if role == "farmer" %}
              <li class="nav-item">
                <a class="nav-link" href="/farming_technique_listing">Farming Technique</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/query_list">All Queries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/all_blog">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/show_wishlist">Show Wishlists</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href=""><i class="fa fa-user-circle text-warning" aria-hidden="true"></i> Welcome {{user.username}}</a>
              </li>
      <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              {% elif role == "wholeseller" %}
              <li class="nav-item">
                <a class="nav-link" href="/query_list">All Queries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/all_blog">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><i class="fa fa-user-circle text-warning" aria-hidden="true"></i> Welcome {{user.username}}</a>
              </li>
      <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
               {% elif role == "admin" %}
              <li class="nav-item">
                <a class="nav-link" href="/create_blog">Create Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin_show_all_farmer_user">All Farmer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin_show_all_wholeseller_user">All Whole Seller</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin_show_all_scientist_user">All Scientist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Query Question</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><i class="fa fa-user-circle text-warning" aria-hidden="true"></i> Welcome {{user.username}}</a>
              </li>
      <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              {% elif role == "scientist" %}
              <li class="nav-item">
                <a class="nav-link" href="/product">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/farming_technique">Create Farming Technique</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/farming_technique_listing">Show Farming Technique</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/create_blog">Create Blog</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href=""><i class="fa fa-user-circle text-warning" aria-hidden="true"></i> Welcome {{user.username}}</a>
              </li>
      <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/product">Products</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/all_blog">Blogs</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/farming_technique_listing">Farming Technique</a>
              </li>              
              <!-- <li class="nav-item">
                <a class="nav-link" href="/registerwithnormaluser">Register as Farmer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registerwithwholeseller">Register as Whole Seller</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registerwithwholeseller">Register as Scientist</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li> 
      <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </li>
              {% endif %}

              <!-- {% if user.is_authenticated %}
              
      {% else %}
      <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
      <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </li>
      {% endif %}
            </ul>
            <!-- <div class="quote_btn-container">
              
              <a href="/registerwithnormaluser">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
            </div> -->
          </div>
        </nav>
      </div>
    </header>
<br>
<br><br><br>
<div class="container" align="center">
    <a href="/registerwithnormaluser" class="btn btn-lg btn-success">Register with Farmer</a><br>
    <h2 >OR</h2>
    <a href="/registerwithwholeseller" class="btn-lg btn-success">Register with Whole Seller</a><br><br>
    <h2 >OR</h2>
    <a href="/registerwithwholeseller" class="btn-lg btn-success">Register with Scientist</a>

</div>
<br>
<br><br><br>
  <!-- info section -->
 <section class="info_section">
    <div class="container">
      <div class="info_contact_container">
        <h3>
          Contact Us
        </h3>
        <div class="info_contact_box">
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              +91 6370504347,6303973431
            </span>
          </a>
          <a href="">
            <i class="fa fa-envelope"></i>
            <span>
              teams.mof@gmail.com
            </span>
          </a>
        </div>
      </div>
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </div>
      <div class="info_link_box">
        <a href="/">
          Home
        </a>
        <a href="/about">
          About
        </a>
        
        <a href="/faq">
          FAQ
        </a>
        <a href="/why">
          Why us
        </a>
        <a href="/contact">
          Contact us
        </a>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <div class="container">
      <div class="col-md-11 col-lg-8 mx-auto">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="">MOF Teams</a>
        </p>
      </div>
    </div>
  </section>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <!-- slick slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

</body>

</html>